# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Go workspace
go.work
go.work.sum

# Local
.vscode
.idea
.env
art-of-balance-nex
build
log
*.pem
*.key
*.pcap
*.pcapng
settings.json

.DS_Store
